:root {
	--color-foreground-01: #ededed;
	--color-foreground-01: #ffffff;
	--color-foreground-02: #999999;
	--color-foreground-03: #555555;

	--color-background-01: #101010;
	--color-background-02: #333333;

	--color-green-01: #00fea0;
	--color-orange-01: #f5a623;
	--color-red-01: #ff0000;
}
