$minViewport: 375;
$maxViewport: 1800;

@function fluid($minValue, $maxValue) {
	$x: calc(($maxValue - $minValue) / ($maxViewport - $minViewport));
	$y: $maxValue - $maxViewport * $x;

	@return unquote('calc(#{100 * $x}vw + #{$y}px)');
}

@mixin fluid($property, $minValue, $maxValue) {
	#{$property}: fluid($minValue, $maxValue);

	@media screen and (max-width: ($minViewport - 1px)) {
		#{$property}: #{$minValue}px;
	}

	@media screen and (min-width: ($maxViewport + 1px)) {
		#{$property}: #{$maxValue}px;
	}
}
