@use './fluid.scss';

:root {
	--font-size-01: 1.6rem;
	--font-size-02: 1.8rem;
	@include fluid.fluid(--font-size-01, 14, 16);
	@include fluid.fluid(--font-size-02, 16, 18);
	@include fluid.fluid(--font-size-03, 32, 48);
}

body {
	h1 {
		font-size: var(--font-size-03);
		font-weight: 500;
		line-height: 1.3;
	}

	h2 {
		font-size: var(--font-size-02);
		font-weight: 500;
	}

	h3 {
		font-size: var(--font-size-01);
		font-weight: 500;
	}
}
