/* Background */
.background {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .gradient {
    display: block;
    position: relative;
    width: 50%;
    width: 66vmin;
    background: linear-gradient(#212121 40%, #fb4248 60%);
    overflow: hidden;

    &:before {
      content: "";
      position: absolute;
      top: -150vh;
      left: -50vw;
      background-image: url("../../img/background/noise.png");
      background-repeat: repeat;
      height: 300vh;
      width: 200vw;
      animation: noise 8s steps(10) infinite;
      will-change: transform;
    }

    &:after {
      content: "";
      display: block;
      padding-bottom: 100%;
      opacity: 0;
      background: rgba(#101010, 0.1);
      animation: flicker 0.15s infinite;
    }

    @keyframes noise {
      0%, 100% { transform: translate(0, 0); }
      10% { transform: translate(-5%, -10%); }
      20% { transform: translate(-15%, 5%); }
      30% { transform: translate(7%, -25%); }
      40% { transform: translate(-5%, 25%); }
      50% { transform: translate(-15%, 10%); }
      60% { transform: translate(15%, 0%); }
      70% { transform: translate(0%, 15%); }
      80% { transform: translate(3%, 35%); }
      90% { transform: translate(-10%, 10%); }
    }

    @keyframes flicker {
      0%, 100% { opacity: 0.27861; }
      5% { opacity: 0.34769; }
      10% { opacity: 0.23604; }
      15% { opacity: 0.90626; }
      20% { opacity: 0.18128; }
      25% { opacity: 0.83891; }
      30% { opacity: 0.65583; }
      35% { opacity: 0.67807; }
      40% { opacity: 0.26559; }
      45% { opacity: 0.84693; }
      50% { opacity: 0.96019; }
      55% { opacity: 0.08594; }
      60% { opacity: 0.20313; }
      65% { opacity: 0.71988; }
      70% { opacity: 0.53455; }
      75% { opacity: 0.37288; }
      80% { opacity: 0.71428; }
      85% { opacity: 0.70419; }
      90% { opacity: 0.7003; }
      95% { opacity: 0.36108; }
    }
  }
}